.Lanthanide{
  background-color: #e6ee9c;
  border: 3px solid #e6ee9c;
  width: 17px;
  height: 17px;
  margin: 2.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.Actinide{
  background-color: #b3e5fc;
  border: 3px solid #b3e5fc;
  width: 17px;
  height: 17px;
  margin: 2.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
